html.dark {
  color-scheme: dark;
}


/* Color scheme */
html .vp-doc {
  --vp-code-comment: #a0ada0;
  --vp-code-punctuation: #8e8f8b;
  --vp-code-attribute: #429988;
  --vp-code-constant: #a65e2b;
  --vp-code-keyword: #1c6b48;
  --vp-code-variable: #c2b36e;

  --vp-code-string: #b56959;
  --vp-code-boolean: #1c6b48;
  --vp-code-number: #296aa3;
  --vp-code-entity: #2993a3;
  --vp-code-function-name: #6c7834;
  --vp-code-function: #6c7834;

  --vp-code-inserted: #1c6b48;
  --vp-code-deleted: #a14f55;
}

html.dark .vp-doc {
  --vp-code-comment: #758575;
  --vp-code-punctuation: #8e8f8b;
  --vp-code-attribute: #2f8a89;
  --vp-code-constant: #a65e2b;
  --vp-code-keyword: #4d9375;
  --vp-code-variable: #c2b36e;

  --vp-code-string: #d48372;
  --vp-code-boolean: #1c6b48;
  --vp-code-number: #6394bf;
  --vp-code-entity: #54b1bf;
  --vp-code-function-name: #a1b567;
  --vp-code-function: #a1b567;

  --vp-code-inserted: #4d9375;
  --vp-code-deleted: #bc6066;
}

/* Overrides */
:not(pre)>code {
  padding: 1px 6px;
  border-radius: 3px;
}

a>code {
  color: var(--vp-c-brand) !important;
}

.vp-doc [class*='language-'] pre {
  padding: 24px;
}

.shiki-light {
  background: #f9f9f9 !important;
}

.shiki-dark {
  background: #242424 !important;
}

html.dark .shiki-light {
  opacity: 0;
  z-index: -1;
}

html:not(.dark) .shiki-dark {
  opacity: 0;
  z-index: -1;
}

.shiki {
  transition: opacity 0.5s !important;
}

.shiki-light {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vp-doc div[class*='language-'] {
  background: none !important;
}

/* Line highlighting */
/*
.highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--prism-block-padding-y) 0;
  width: 100%;
  line-height: var(--prism-line-height);
  font-family: var(--prism-font-family);
  font-size: var(--prism-font-size);
  user-select: none;
  overflow: hidden;
  z-index: -1;
}

.highlight-lines .highlighted {
  background-color: var(--prism-line-highlight-background);
} */
